<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Fleet Management Suite">
  <test name="Fleet Management">
    <classes>
      <class name="org.shiksha.fleet.feature.loginPageTestCaseScript"/>
      <class name="org.shiksha.fleet.feature.homePageTestCases"/>
      <class name="org.shiksha.fleet.feature.traceFleetTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->